In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("kidney.csv")
df

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [4]:
df.describe().T

      count        mean         std     min     25%     50%     75%      max
id    400.0  199.500000  115.614301   0.000   99.75  199.50  299.25  399.000
age   391.0   51.483376   17.169714   2.000   42.00   55.00   64.50   90.000
bp    388.0   76.469072   13.683637  50.000   70.00   80.00   80.00  180.000
sg    353.0    1.017408    0.005717   1.005    1.01    1.02    1.02    1.025
al    354.0    1.016949    1.352679   0.000    0.00    0.00    2.00    5.000
su    351.0    0.450142    1.099191   0.000    0.00    0.00    0.00    5.000
bgr   356.0  148.036517   79.281714  22.000   99.00  121.00  163.00  490.000
bu    381.0   57.425722   50.503006   1.500   27.00   42.00   66.00  391.000
sc    383.0    3.072454    5.741126   0.400    0.90    1.30    2.80   76.000
sod   313.0  137.528754   10.408752   4.500  135.00  138.00  142.00  163.000
pot   312.0    4.627244    3.193904   2.500    3.80    4.40    4.90   47.000
hemo  348.0   12.526437    2.912587   3.100   10.30   12.65   15.00   17.800

In [5]:
df[['htn','dm','cad','pe','ane']] = df[['htn','dm','cad','pe','ane']].replace(to_replace={'yes':1,'no':0})
df[['rbc','pc']] = df[['rbc','pc']].replace(to_replace={'abnormal':1,'normal':0})
df[['pcc','ba']] = df[['pcc','ba']].replace(to_replace={'present':1,'notpresent':0})
df[['appet']] = df[['appet']].replace(to_replace={'good':1,'poor':0,'no':np.nan})
df['classification'] = df['classification'].replace(to_replace={'ckd':1.0,'ckd\t':1.0,'notckd':0.0,'no':0.0})
df.rename(columns={'classification':'class'},inplace=True)

#### Further Cleaning

In [6]:
df['pe'] = df['pe'].replace(to_replace='good',value=0) 
df['appet'] = df['appet'].replace(to_replace='no',value=0)
df['cad'] = df['cad'].replace(to_replace='\tno',value=0)
df['dm'] = df['dm'].replace(to_replace={'\tno':0,'\tyes':1,' yes':1, '':np.nan})
df.drop('id',axis=1,inplace=True)
df = df.dropna(axis=0)

In [7]:
df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,class
3,48.0,70.0,1.005,4.0,0.0,0.0,1.0,1.0,0.0,117.0,...,32,6700,3.9,1.0,0.0,0.0,0.0,1.0,1.0,1.0
9,53.0,90.0,1.020,2.0,0.0,1.0,1.0,1.0,0.0,70.0,...,29,12100,3.7,1.0,1.0,0.0,0.0,0.0,1.0,1.0
11,63.0,70.0,1.010,3.0,0.0,1.0,1.0,1.0,0.0,380.0,...,32,4500,3.8,1.0,1.0,0.0,0.0,1.0,0.0,1.0
14,68.0,80.0,1.010,3.0,2.0,0.0,1.0,1.0,1.0,157.0,...,16,11000,2.6,1.0,1.0,1.0,0.0,1.0,0.0,1.0
20,61.0,80.0,1.015,2.0,0.0,1.0,1.0,0.0,0.0,173.0,...,24,9200,3.2,1.0,1.0,1.0,0.0,1.0,1.0,1.0

In [8]:
df.describe().T

       count        mean        std      min     25%     50%      75%      max
age    158.0   49.563291  15.512244    6.000   39.25   50.50   60.000   83.000
bp     158.0   74.050633  11.175381   50.000   60.00   80.00   80.000  110.000
sg     158.0    1.019873   0.005499    1.005    1.02    1.02    1.025    1.025
al     158.0    0.797468   1.413130    0.000    0.00    0.00    1.000    4.000
su     158.0    0.253165   0.813397    0.000    0.00    0.00    0.000    5.000
rbc    158.0    0.113924   0.318729    0.000    0.00    0.00    0.000    1.000
pc     158.0    0.183544   0.388343    0.000    0.00    0.00    0.000    1.000
pcc    158.0    0.088608   0.285080    0.000    0.00    0.00    0.000    1.000
ba     158.0    0.075949   0.265759    0.000    0.00    0.00    0.000    1.000
bgr    158.0  131.341772  64.939832   70.000   97.00  115.50  131.750  490.000
bu     158.0   52.575949  47.395382   10.000   26.00   39.50   49.750  309.000
sc     158.0    2.188608   3.077615    0.400    0.70    1.10    1.600   15.200
sod    158.0  138.848101   7.489421  111.000  135.00  139.00  144.000  150.000
pot    158.0    4.636709   3.476351    2.500    3.70    4.50    4.900   47.000
hemo   158.0   13.687342   2.882204    3.100   12.60   14.25   15.775   17.800
htn    158.0    0.215190   0.412261    0.000    0.00    0.00    0.000    1.000
dm     158.0    0.177215   0.383065    0.000    0.00    0.00    0.000    1.000
cad    158.0    0.069620   0.255315    0.000    0.00    0.00    0.000    1.000
appet  158.0    0.879747   0.326292    0.000    1.00    1.00    1.000    1.000
pe     158.0    0.126582   0.333562    0.000    0.00    0.00    0.000    1.000
ane    158.0    0.101266   0.302640    0.000    0.00    0.00    0.000    1.000
class  158.0    0.272152   0.446483    0.000    0.00    0.00    1.000    1.000

In [9]:
cols = ['bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc']
X = df[cols]
y = df['class']

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state=44, stratify= y)
print('Shape training set: X:{}, y:{}'.format(X_train.shape, y_train.shape))
print('Shape test set: X:{}, y:{}'.format(X_test.shape, y_test.shape))

Shape training set: X:(105, 7), y:(105,)
Shape test set: X:(53, 7), y:(53,)

In [12]:
model = RandomForestClassifier()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

In [13]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [14]:
print('Accuracy : {}'.format(accuracy_score(y_test, y_pred)))

Accuracy : 0.9811320754716981

In [15]:
clf_report = classification_report(y_test, y_pred)

In [16]:
print('Classification report')
print(clf_report)

Classification report
              precision    recall  f1-score   support

         0.0       0.97      1.00      0.99        39
         1.0       1.00      0.93      0.96        14

    accuracy                           0.98        53
   macro avg       0.99      0.96      0.98        53
weighted avg       0.98      0.98      0.98        53

In [17]:
import joblib

In [18]:
filename="kidney_model.pkl"
joblib.dump(model,filename)

['kidney_model.pkl']