In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("indian_liver_patient.csv")
df

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [4]:
df.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [14]:
df['Gender']=df['Gender'].apply(lambda x:1 if x=='Male' else 0)
df=df.fillna(0.94)

In [15]:
df.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset,Female,Male
0,65,0,0.7,0.1,187,16,18,6.8,3.3,0.90,1,0,1
1,62,1,10.9,5.5,699,64,100,7.5,3.2,0.74,1,0,1
2,62,1,7.3,4.1,490,60,68,7.0,3.3,0.89,1,0,1
3,58,1,1.0,0.4,182,14,20,6.8,3.4,1.00,1,0,1
4,72,1,3.9,2.0,195,27,59,7.3,2.4,0.40,1,0,1

In [16]:
X=df[['Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Total_Protiens', 'Albumin', 'Albumin_and_Globulin_Ratio']]
y=df['Dataset']

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=123)

print('Shape training set: X:{}, y:{}'.format(X_train.shape, y_train.shape))
print('Shape test set: X:{}, y:{}'.format(X_test.shape, y_test.shape))

Shape training set: X:(408, 7), y:(408,)
Shape test set: X:(175, 7), y:(175,)

In [19]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

In [21]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [22]:
print('Accuracy : {}'.format(accuracy_score(y_test, y_pred)))
clf_report = classification_report(y_test, y_pred)

Accuracy : 0.7142857142857143

In [24]:
print('Classification report')
print(clf_report)

Classification report
              precision    recall  f1-score   support

           1       0.75      0.90      0.82       126
           2       0.48      0.22      0.31        49

    accuracy                           0.71       175
   macro avg       0.61      0.56      0.56       175
weighted avg       0.67      0.71      0.68       175

In [25]:
import joblib

In [27]:
filename="liver_model.pkl"
joblib.dump(model,filename)

['liver_model.pkl']